sudo: false
cache: bundler
language: ruby
rvm:
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6

before_install:
  - gem update bundler

script:
  - bundle exec rake rubocop
  - UNIT_TEST=true bundle exec parallel_test test/unit/ -n 4
  - UNIT_TEST=true AUTOMATION_NAME_DROID=espresso bundle exec parallel_test test/unit/android -n 4
  - UNIT_TEST=true AUTOMATION_NAME_DROID=appium AUTOMATION_NAME_IOS=appium bundle exec parallel_test test/unit -n 4

notifications:
  email:
    on_success: never
    on_failure: never
