name: Functional Tests for iOS

on:
  # Run by manual at this time
  workflow_dispatch:
  # pull_request:
  #   branches:
  #     - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ios_test:
    strategy:
      fail-fast: false
      matrix:
        test_targets:
          - target: test/functional/ios/driver_test.rb,test/functional/ios/patch_test.rb
            name: test1
          - target: test/functional/ios/webdriver/create_session_test.rb,test/functional/ios/webdriver/w3c_actions_test.rb
            name: test2
          - target: test/functional/ios/webdriver/device_test.rb
            name: test3
          - target: test/functional/ios/ios/device_test.rb
            name: test4
          - target: test/functional/ios/ios/device_wda_attachment_test.rb,test/functional/ios/ios/search_context_test.rb
            name: test5
          - target: test/functional/ios/ios/image_comparison_test.rb
            name: test6
          - target: test/functional/ios/tv_driver_test.rb
            name: test7

    runs-on: macos-14

    steps:
    - uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'

    - name: Select Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 15.3
    - run: defaults write com.apple.iphonesimulator PasteboardAutomaticSync -bool false

    - uses: futureware-tech/simulator-action@v3
      with:
        # https://github.com/actions/runner-images/blob/main/images/macos/macos-14-arm64-Readme.md
        model: 'iPhone 15'
        os_version: '17.4'

    # Start Appium
    - run: npm install -g appium
    - run: |
        appium driver install xcuitest
        appium plugin install images
        appium plugin install execute-driver
        nohup appium --use-plugins=images,execute-driver --relaxed-security --log-timestamp --log-no-colors --base-path=/wd/hub > appium.log &

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
    - name: Install dependencies
      run: bundle install

    # Run tests
    - run: bundle exec rake test:func:ios TESTS=${{matrix.test_targets.target}}
      name: Run tests
      env:
        IGNORE_VERSION_SKIP: true
        CI: true

    - name: Save server output
      if: ${{ always() }}
      uses: actions/upload-artifact@master
      with:
        name: appium-${{matrix.test_targets.name}}.log
        path: appium.log

  ios_test_with_other_deps:
    runs-on: macos-14

    steps:
    - uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'

    - name: Select Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 15.3
    - run: defaults write com.apple.iphonesimulator PasteboardAutomaticSync -bool false

    - uses: futureware-tech/simulator-action@v3
      with:
      # https://github.com/actions/runner-images/blob/main/images/macos/macos-14-arm64-Readme.md
        model: 'iPhone 15'
        os_version: '17.4'

    - name: Preparing other environment
      run: |
        brew install ffmpeg
        brew tap wix/brew
        brew install applesimutils

    # Start Appium
    - name: Install appium and mjpeg-consumer
      run: |
        npm install -g appium
        npm install -g mjpeg-consumer
    - run: |
        appium driver install xcuitest
        appium plugin install images
        appium plugin install execute-driver
        nohup appium --use-plugins=images,execute-driver --relaxed-security --log-timestamp --log-no-colors --base-path=/wd/hub > appium.log &

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
    - name: Install dependencies
      run: bundle install

    - run: bundle exec rake test:func:ios TESTS=test/functional/ios/ios/mjpeg_server_test.rb,test/functional/ios/ios/mobile_commands_test.rb
      name: Run tests
      env:
        IGNORE_VERSION_SKIP: true
        CI: true

    - name: Save server output
      if: ${{ always() }}
      uses: actions/upload-artifact@master
      with:
        name: appium-ios_test_with_other_deps.log
        path: appium.log
