name: Type Check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  steep:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: [3.1, 3.2, 3.3]

    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    
    - name: Install dependencies
      run: bundle install
    
    - name: Run Steep type check
      run: bundle exec rake steep
