name: Runs lint and unit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, 3.0, 3.1]

    runs-on: ubuntu-latest

    env:
      UNIT_TEST: true

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: |
        bundle install
        gem install selenium-webdriver -v '~> 4.2'
    - name: Run tests
      run: |
        bundle exec rake rubocop
        bundle exec rake test:unit
        APPIUM_DRIVER=espresso bundle exec rake test:unit:android
        APPIUM_DRIVER=appium bundle exec rake test:unit

  test-win:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, 3.0, 3.1]

    runs-on: windows-latest

    env:
      UNIT_TEST: true

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies
        run: |
          gem install ffi
          gem install selenium-webdriver -v '~> 4.2'
          bundle install
          gem uninstall --force eventmachine && gem install eventmachine --platform ruby
      - name: Run tests
        run: |
          rake test:unit

          setx APPIUM_DRIVER espresso
          rake test:unit:android

          setx APPIUM_DRIVER appium
          rake test:unit
