name: lint and unit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ruby: [3.1, 3.2, 3.3]

    runs-on: ubuntu-latest

    env:
      UNIT_TEST: true

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: |
        bundle install
    - name: Run tests
      run: |
        bundle exec rake rubocop
        bundle exec rake steep
        bundle exec rake test:unit
        APPIUM_DRIVER=espresso bundle exec rake test:unit:android
        APPIUM_DRIVER=appium bundle exec rake test:unit

  test-win:
    strategy:
      fail-fast: false
      matrix:
        ruby: [3.1, 3.2, 3.3]

    runs-on: windows-latest

    env:
      UNIT_TEST: true

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies
        run: |
          gem install ffi
          bundle install
          gem uninstall --force eventmachine && gem install eventmachine --platform ruby -- --with-ldflags="-Wl,-undefined,dynamic_lookup"
      - name: Run tests
        run: |
          bundle exec rake test:unit

          setx APPIUM_DRIVER espresso
          bundle exec rake test:unit:android

          setx APPIUM_DRIVER appium
          bundle exec rake test:unit
